h1{color: red;}
h2{color: blue;}
h3{color: yellow;}
h4{color: green;}
h5{color: pink;}
h6{color: cyan;}
p{color: yellowgreen;}
span{color: rgb(224, 25, 224);}

img{
    width: 100px;
    height: 100 px;
    border-radius: 5%;
}